---
permalink: /blog/
title: Mr. Harmon Returns from One Place to Another
---

<html>
	{% include head.html %}
<body class="wall">

<div id="whiterectangle">

<h1>Mr. Harmon Returns from One Place to Another</h1>

<p style="text-align: center; "><a href="/">Back to my homepage</a>.</p>

{% include socialbutton.html domain="https://twitter.com/" path="elliotharmon" service="Twitter" %}
{% include socialbutton.html domain="https://theoldreader.com/" path="profile/elliotharmon" service="The Old Reader" %}
{% include socialbutton.html domain="http://www.metafilter.com/" path="user/47281" service="MetaFilter" %}
{% include socialbutton.html domain="https://www.pinboard.in/" path="u:eh" service="Pinboard" %}
{% include socialbutton.html domain="https://github.com/" path="elliotharmon" service="GitHub" %}

	{% for post in site.posts %}
		<p><a href="{{ post.url }}">{{ post.title }}</a></p>
	{% endfor %}

</div>



</div>

</div>

</body>
