#allphotos {
	position: absolute;
	z-index: 1;
	}

#allblogtitles {
	position: absolute;
	z-index: 2;
	}

#polaroids {
	float: left;
	min-width: 300px;
	max-width: 100%;
	}

#homecontent {
	width: 450px;
	float: left;
	padding: 25px;
	}

body {
	background-color: #D0D0D0;
	}

.blogtitle-contain {
	width: 300px;
	height: 375px;
	float: left;
	margin: 5px;
	z-index: -1;
	position: relative;
	}

.blogtitle {
	width: 280px;
	height: 75px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 300px;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	}

a:link .blogtitle, a:visited .blogtitle {
	color: black;
	text-decoration: none;
	} 

a:hover .blogtitle, a:active .blogtitle {
	color: red;
	text-decoration: none;
	}

.rssincl-entry {
	width: 250px;
	height: 250px;
	padding-right: 24px;
	padding-left: 24px;
	padding-top: 24px;
	padding-bottom: 99px;
	margin: 5px;
	border: 1px solid black;
	float: left;
	box-shadow: 3px 3px 5px #404040;
	background-color: white;
	}
