#allphotos {
	position: absolute;
	z-index: -1;
	}

/*
#rssincl-box-866207 {
	position:absolute;
	z-index: -2
	}
*/

#allblogtitles {
	position: absolute;
	z-index: -1;
	}

#rssincl-box-id {
	position: absolute;
	}

.blogtitle-contain {
	width: 300px;
	height: 375px;
	float: left;
	margin: 5px;
	z-index: -1;
	position: relative;
	}

.blogtitle {
	width: 280px;
	height: 75px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 300px;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	}
	
.rssincl-entry {
	width: 250px;
	height: 250px;
	padding-right: 24px;
	padding-left: 24px;
	padding-top: 24px;
	padding-bottom: 99px;
	margin: 5px;
	border: 1px solid black;
	float: left;
	box-shadow: 3px 3px 5px #888888;
	}
