#allphotos {
	position: absolute;
	z-index: 1;
	}

#allblogtitles {
	position: absolute;
	z-index: 2;
	}

#polaroids {
	}

#homecontent {
	width: 450px;
	float: left;
	padding: 25px;
	}

body.portfolio {
	background-color: #A8B2CD;
	font-family: 'Rokkitt', serif;
	font-size: 20px;
	color: black;
	}

body.portfolio a {
	color: #FFF1AA;
	text-decoration: none;
	}

.buttonholder {
	background-color: #F3F5F9;
	padding: 5px;
	padding-top: 10px;
	display: inline-block;
	border-radius: 3px;
	border: 2px solid black;
	}

body.portfolio h2, body.portfolio h2 a {
	color: #F3F5F9;
	}

.sample {
	padding: 25px;
	margin-bottom: 25px;
	border-top:2px dashed black;
	border-right:2px dashed black;
	color: black;
	}

.graytext {
	color: #F3F5F9;
	font-size: 75%;
	}

.sample a:link {
	text-decoration: none;
	color: black;
	}

.sample:hover {
	border-top:2px dashed #FFF1AA;
	border-right:2px dashed #FFF1AA;
	}


body.wall {
	background: #D0D0D0 url(/images/wall-2000.jpg) no-repeat top right;
	background-attachment: fixed;
	background-position: 100% 100%;
	font-family: 'Raleway', sans-serif;
	}

#whiterectangle {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	border: 2px solid #3d9394;
	}

.socialbutton {
	width: 16px;
	height: 16px;
	border: none;
	}

.blogtitle-contain {
	width: 300px;
	height: 375px;
	float: left;
	margin: 5px;
	z-index: -1;
	position: relative;
	}

.blogtitle {
	width: 280px;
	height: 75px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 300px;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	}

a:link .blogtitle, a:visited .blogtitle {
	color: black;
	text-decoration: none;
	} 

a:hover .blogtitle, a:active .blogtitle {
	color: red;
	text-decoration: none;
	}

#allphotos .rssincl-entry {
	width: 250px;
	height: 250px;
	padding-right: 24px;
	padding-left: 24px;
	padding-top: 24px;
	padding-bottom: 99px;
	margin: 5px;
	border: 1px solid black;
	float: left;
	box-shadow: 3px 3px 5px #404040;
	background-color: white;
	}

#postheader {
	width: 360px;
	height: 475px;
	border: 1px solid black;
	box-shadow: 3px 3px 5px #404040;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	}
	
#postheader .rssincl-entry {
	width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	}

#postheader h2 {
	width: 280px;
	height: 75px;
	margin-top: 20px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Permanent Marker', cursive;
	}	

#blogcontent {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	padding: 10px;
	}

/*
 .rssincl-entry {
	width: 300px;
	height: 300px;
	padding-right: 29px;
	padding-left: 29px;
	padding-top: 29px;
	padding-bottom: 143px;
	margin: 5px;
	border: 1px solid black;
	box-shadow: 3px 3px 5px #404040;
	background-color: white;
	}

#postheader #headertext {
	width: 280px;
	height: 75px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 300px;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	}

*/