{{ if include.align != "center" }}

	<div style="
	
		{{ if include.align == "left" }}
		
				float:left; 
				
		{{ else }}
		
				float: right;
		
		{{ endif }}
		
	padding:10px; " xmlns:dc="http://purl.org/dc/terms/" xmlns:cc="//creativecommons.org/ns#" about="{{ include.imageref }}"><a href="{{ include.imageref }}"><img width="{{ include.width }}" height="{{ include.height }}" src="{{ include.imagesrc }}" alt="{{ include.title }}" /></a><br />
	
	<p><small><a href="{{ include.imageref }}"><span property="dc:title">{{ include.title }}</span></a> / <span property="cc:attributionName">{{ include.title }}</span> / <a rel="license" href="/licenses/by-nc/2.0/">CC BY-NC</a></small></p></div> 

	
	
	http://www.flickr.com/photos/transmitnow/5452429074/">

	
	





	
xmlns:dc="http://purl.org/dc/terms/" xmlns:cc="/ns#" about="http://www.flickr.com/photos/transmitnow/5452429074/"><a href="http://www.flickr.com/photos/transmitnow/5452429074/"><img width="320" height="212" src="http://farm6.staticflickr.com/5097/5452429074_cdb14dc946_n.jpg" alt="Scott Belsky" /></a><br /><p><small><a href="http://www.flickr.com/photos/transmitnow/5452429074/"><span property="dc:title">Scott Belsky</span></a> / <span property="cc:attributionName">transmitNOW events</span> / <a rel="license" href="/licenses/by-nc/2.0/">CC BY-NC</a></small></p></div> 
