<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="/style.css" />
<title>{{ page.title }}</title>
</head>
<body id="blogcontent">
<p align="center"><a href="/blog/">&#8592</a></p>
<div id="postheader">
<script type="text/javascript" src="http://output99.rssinclude.com/output?type=js&amp;id=867710&amp;hash=288b6206723c5987fe1ac7fee99542e9"></script>
<h2>{{ page.title }}</h2>
</div>
{{ content }}
</body>
</html>
